body {
  margin: 0;
  padding: 0;
  font-family: 'Syne', 'Kumbh Sans', Helvetica, Arial;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.6;
  height: 100vh;
}


.container {
  display: flex;
  margin: 0 auto;
  align-items: flex-start;
}

.image-section {
  flex: 1;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.image-section img {
  width: 100%;
  height: 100vh;
  background-color: pink;
  object-fit: cover;
  display: block;
}

.text-section {
  flex: 1.5;
  padding: 0;
  height: 100vh;
  overflow-y: scroll;
  padding: 0px;
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 0px;
}


.text-section h2 {
  font-family: 'Kumbh Sans';
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  color: #949fac;
  margin-top: 25px;
  margin-bottom: 10px;
}

.text-section h1 {
  font-family: 'Kumbh Sans';
  font-size: 60px;
  letter-spacing: -2px;
  line-height: 1.2;
  font-weight: 600;
  color: black;
  margin: 10px 0 20px;
}

.text-section p {
  font-family: 'Kumbh Sans';
  letter-spacing: -0.3px;
  font-size: 16px;
  color: black;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-top: 0;
  word-break: break-word;
}

.text-section ul {
  list-style: none;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: black;
}

.text-section ul li {
  margin: 10px 0;
  font-weight: 400;
}

.text-section ul li a {
  font-size: 16px;
  color: black;
  font-weight: 400;
  text-decoration: none;
}

.text-section ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .image-section img {
    height: auto;
  }

  .text-section {
    width: 100%;
    overflow-y: visible;
    margin: 0;
  }

  .text-section h1 {
    font-size: 40px;
  }

  .text-section p,
  .text-section ul li a {
    font-size: 14px;
  }
}

@media (max-width: 480px) {


  .text-section h1 {
    font-size: 32px;
  }

  .text-section p {
    font-size: 12px;
  }

  .text-section ul li a {
    font-size: 12px;
  }
}